<h2>Created with</h2>

<dl>
<dt><a href="http://angularjs.org/" target="_new">AngularJS</a></dt>
<dd>A client-side Javascript framework for creating Dynamic HTML sites</dd>
<dt><a href="http://twitter.github.com/bootstrap/index.html" target="_new">Twitt
er Bootstrap</a></dt>
<dd>A front-end framework to handle design and presentation.</dd>
<dt><a href="http://www.pylonsproject.org/" target="_new">Pyramid</a></dt>
<dd>A Python web application framework</dd>
<dt><a href="http://d3js.org/" target="_new">D3.js</a></dt>
<dd>JavaScript library to create graphs and manipulate documents based on
data.</dd>
<dt><a href="https://github.com/cd34/strava-sscp" target="_new">Strava-SSCP</a></dt>
<dd>The Github repository that contains the code that runs this site.</dd>
</dl>
