<div class="modal hide fade" id="loading">
  <div class="modal-header">
    <h3>Fetching data</h3>
  </div>
  <div class="modal-body">
    <p>Grabbing the Club Members and ride data</p>
<p>If you don't see your results, we cache data for an hour to keep
the number of requests on the Strava API to a minimum.</p>
  </div>
  <div class="modal-footer">
Please be patient, this could take a few seconds...
  </div>
</div>

<h2>{{ club_data.name }}</h2>
<blockquote><p>{{ club_data.description }}</p>
<a href="/#!/{{ club_data.id }}">This Month's Stats</a></li> &middot; 
<a href="/#!/{{ club_data.id }}/lastmonth">Last Month's Stats</a></li>
</blockquote>

<div ng-hide="!member_data[0]">
<p>
<div class="btn-group">
  <button ng-init="measurement='imperial';impactive='btn-primary';metactive='btn-active'" ng-click="measurement='imperial';impactive='btn-primary';metactive='btn-active'" ng-disabled="measurement=='imperial'" ng-class='impactive' class="btn">Imperial</button>
  <button ng-click="measurement='metric';metactive='btn-primary';impactive='btn-active'" ng-disabled="measurement=='metric'" class="btn" ng-class='metactive'>Metric</button>
</div>
Graphs are below for Elevation, Distance and Wattages dependent on which
column you have chosen to sort by.
</p>

<table class="table table-condensed table-bordered table-striped">
<tr>
  <th>Position</th>
  <th>Name</th>
  <th><a href="" ng-init="predicate='-elevation'" ng-click="predicate='-elevation'">Elevation</a>
<span ng-show="measurement=='imperial'">(miles)</span>
<span ng-show="measurement=='metric'">(kms)</span>
</th>
  <th><a href="" ng-click="predicate='-avg_elevation'">Average Elevation</a>
<span ng-show="measurement=='imperial'">(feet)</span>
<span ng-show="measurement=='metric'">(meters)</span>
</th>
  <th><a href="" ng-click="predicate='-rides'">Rides</a></th>
  <th><a href="" ng-click="predicate='-total_distance'">Total Distance</a></th>
  <th><a href="" ng-click="predicate='-ride'">Ride Distance</a>
<span ng-show="measurement=='imperial'">(miles)</span>
<span ng-show="measurement=='metric'">(kms)</span>
</th>
  <th><a href="" ng-click="predicate='-commute'">Commute Distance</a></th>
  <th><a href="" ng-click="predicate='-trainer'">Trainer Distance</a></th>
  <th><a href="" ng-click="predicate='-wattage'">Avg Wattage</a></th>
</tr>
<tr ng-repeat="record in member_data | orderBy:predicate">
<td>{{ $index + 1 }}</td>
<td><a href="http://app.strava.com/athletes/{{ record.id }}" target="_new">{{ record.name }}</a></td>
<td class="textright">{{ record.elevation | meters_feet:measurement | number:0 }}</td>
<td class="textright">{{ record.avg_elevation | meters_feet:measurement | number:0 }}</td>
<td class="textright">{{ record.rides }}</td>
<td class="textright">{{ record.total_distance | meters_km_miles:measurement | number:1 }}</td>
<td class="textright">{{ record.ride | meters_km_miles:measurement | number:1 }}</td>
<td class="textright">{{ record.commute | meters_km_miles:measurement | number:1 }}</td>
<td class="textright">{{ record.trainer | meters_km_miles:measurement | number:1 }}</td>
<td class="textright">{{ record.wattage | number:0 }}</td>
</tr>
</table>

<div id="chart"></div>
</div>

<div ng-show="!member_data[0]"><h2>No members found in the group with rides
registered this month<h2></div>
