<div class="hero-unit">
    <p>Go to <a href="http://strava.com/" target="_new">Strava</a>, click on
your club and paste in the URL. Or, if you know the club name or numeric id,
you can enter that.</p>
<h4>Note: this is not endorsed by Strava. It makes use of their API. No password
 or authentication information is needed. Only your club id is used to query
 the API. Rides that are flagged private are not included.</h4>
</div>

<div ng-controller="MainCtrl">
  <form name="form" class="css-form" novalidate method="post">
  Strava Club ID:
  <input type="id" name="id" class="span7" ng-model="text" required
    placeholder="Enter your Strava club ID, URL or name here">
    <span class="text-error" ng-show="form.id.$error.required">
        Required!</span>
<br/>&nbsp;<br/>
    <button ng-click="update(text)" class="btn btn-primary" ng-disabled="form.$invalid || isUnchanged(post)">Show me my club</button>
  </form>

<div class="modal hide fade" id="clubs">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Multiple clubs matched</h3>
  </div>
  <div class="modal-body">
<ul class="unstyled">
<li ng-repeat="club in clublist">
<a href="/#!/{{ club.id }}" onclick="$('#clubs').modal('hide')">{{ club.name }}</a>
</li>
  </div>
  <div class="modal-footer">
Please select a club, or, hit X to cancel and search again
  </div>
</div>

</div>
